<div class="table">
    <div class="create">
        <span></span>
        <button mat-raised-button color="primary" (click)="create()">
            <mat-icon>add_circle_outline</mat-icon>Add
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container *ngFor="let temp of displayedColumns" [matColumnDef]="temp">
            <th mat-header-cell *matHeaderCellDef>{{temp}}</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="temp !== 'Actions'">{{ element[temp]
                    }}</span>

                <span *ngIf="temp === 'Actions'">
                    <button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>